@use "./theme";
// @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); importiert schriftart

@font-face {
  font-family: 'Simpsonfont';
  src: url('../assets/Simpsonfont.ttf');
  font-weight: 100;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: theme.$background-color;
  height: 100vh;

  font-size: 20px;
  display: flex;
  flex-direction: column;
}
